h2,h3
{
 color: #f62aa3;
}


h1
{
color: green;
text-shadow:10px 20px 10px #bbdd86;
font-family: Edwardian Script ITC;
font-size: 40px;
}

h4
{
color: green;
text-shadow:10px 20px 10px #bbdd86;
font-family: Edwardian Script ITC;
font-size: 40px;
text-align: left;
}


body
{
background-color: #fdf378;
}

#slide 
{
width:960px;
height:200px;
background-color:white;
border-radius: 8px;
}

.flash
{
 width: 960px;
 
}

.comments{
	font-size:1em;
}

label,input{
	vertical-align:top;
} 

#conteneur
{
width:960px;
margin: 0 auto;
}

#presentation
{
background-color: white;
text-align: center;
width:960px;
border-radius: 10px;
}

#activite
{
background-color: white;
text-align: center;
width:960px;
height:1200px;
border-radius: 10px;
}
 a
{
  color: #000000;
}



#menu ul
{
border-radius: 8px;
list-style-type:none;
margin: 0;
padding:0;
width:960px;
height:30px;
background-color: #c0df8f;
}

#menu li
{
float: left;
}

.cellules
{
display: block;
width: 185px;
text-align: center;
text-decoration:none;
border-right: solid 3px #ad7775;
}

#pied
{
 width: 960px;
 height: 200px;
 background-image: url(pied1.jpg);
 font-family: Edwardian Script ITC;
 border-radius: 8px;
}

#footer
{
 width: 960px;
 height: 59px;
 background-color: #c0df8f;
 text-align:center;
 border-radius: 8px;
}







