
#header
{
 width: 1000px;
 height: 80px;
 border: 2px blue ridge;
 border-radius:8px;
 text-align: center;
 background-color: green;
}

#conteneur
{
 width: 1000px;
 margin: 0 auto;
 
}

#contenu
{
 width: 1000px;
 height: 800px; 
 background-image: url(fond.jpg);
}

#section
{
 width: 300px;
 height: 200px
 background-color: white; 
}