﻿<!DOCTYPE html>
{% load staticfiles %}
<html>
     <head>
	 <meta charset="utf-8" />
     
	 <!--link rel="stylesheet" href="CP.css" /-->
	 <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	 
	 <title>Sites touristiques</title>
	 </head>
	<div id="conteneur"> 
	<body>
	<div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	 <div id="menu">
	 <ul>
	     <li><a href="/tour" class="cellules"><font size="5px">Acceuil</font></a></li>
		 <li><a href="/tour/fruits" class="cellules"><font size="5px">Galerie</font></a></li>
		 <li><a href="/tour/gallerie" class="cellules"><font size="5px">Hotelleries</font></a></li>
		 <li><a href="/tour/sitestouristiques" class="cellules"><font size="5px">Sites touristiques</font></a></li>
		 <li><a href="/tour/activites" class="cellules"><font size="5px">Activités</font></a></li>
	 </ul>
	 </div>

	 
	    <div class="flash">
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="1000" height="200" id="tech" align="middle" >
        <param name="movie" value="touriste.swf" />
        <param name="quality" value="high" />
        <param name="allowFullScreen" value="true" />
        <param name="wmode" value="transparent" />
        <param name="allowScriptAccess" value="always" />
        <param name="_flashcreator" value="http://www.photo-flash-maker.com" />
        <param name="_flashhost" value="http://www.go2album.com" />
        <embed src="{% static "image/touriste.swf" %}" width="960" height="200" quality="high" allowFullScreen="true" wmode="transparent" allowScriptAccess="always" name="tech" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
      </object>
    </div>

	
	
	<div id="contenu">
	<div id="activite">
	</br><center><p><font color="#369e77">Les activités de la ville
Dans diverses régions d’Haïti la situation économique et la dégradation de l’environnement sont très tragiques et alarmantes. Par contre, à Camp Perrin, la situation est un peu différente. La population de cette communauté, de concert avec quelques ONG s’efforce d’accroître le niveau de la production locale et entreprend des actions en vue de renforcer la protection de l’environnement.</br>
Selon les derniers chiffres fournis par l’Institut haïtien de statistique et d’informatique(IHSI), Camp Perrin est une communauté d’environ 50,000 habitants, située à 220 kms de Port-au-Prince dans le département du Sud. Elle se trouve à environ 24 kms de la ville des Cayes, le chef lieu de la région méridionale du pays.
Plus de 75% de la population camp- perrinoise pratiquent l’agriculture. Le reste vit aux dépens du commerce. Les paysans peuvent être repartis en deux groupes ou catégories principales: les plus nombreux qui labourent les terres sèches dans les mornes dont les récoltes ne nécessitent que de fines gouttes d’eau de pluie,  forment le premier groupe. Ces paysans y cultivent généralement: le manioc, l’igname, le sorgho, la patate, le haricot, la pistache et le maïs.
La deuxième catégorie comporte des cultivateurs travaillant dans les plaines ou environ 4,000 hectares de terre sont irriguées par le canal Davzac.  Ce dernier, issu du drainage de la rivière “La Ravine du Sud” traversant la partie orientale de cette commune, a été construit en 1759 pendant la  colonisation française d’Haiti.
Selon le maire de la ville, dans les années 1980, le fort volume d’eau de pluie que recevait la région avec la rentabilité du système d’irrigation avaient permis aux paysans de produire d’abondantes récoltes. Les cultivateurs des terres de mornes comme ceux des plaines étaient très productifs. La région jouissait d’une pluviométrie annuelle allant jusqu’à neuf mois sur douze.
Cependant la crise générale qui frappe le pays dépuis les années 1990 a provoqué une situation économique et social  très précaire à Camp Perrin. La production paysane s’est livrée au gaspillage et à la vente au vil prix devant l’invasion du marché local des produits venant de l’extérieur.</br>
Les paysans devaient résister face à la concurrence acharnée des produits arrivant de l’extérieur Souvent, ces produits sont entrés au pays par la contre-bande, et envahissent le marché local sans aucun contrôle. 
Tandis qu’en Haïti les paysans ne bénéficient généralement d’aucun support des gouvernements ou de l’Etat pour leur production, dans d’autres pays de la région d’où proviennent habituellement un flux considérable de produits, le crédit agricole et la subvention gouvernementale y sont très significatifs.
Au début des années 90, les paysans de Camp Perrin commençaient à se laisser aller au découragement. Ils voulaient abandonner les champs. Les usines de café, de fabrication d’huile, de cassave et de mamba allaient être fermées en raison de la baisse de production.</br>


“Dix ans de cela, les paysans de cette communauté achetaient continuellement plus de 50% des charrues et d’autres outils agricoles que nous fabriquions ici. Aujourd’hui, ils n’en achètent pas même 25%,” a déclaré le Belge Jean Sprimont, PDG de l’Atelier- Ecole, un important centre de mécanique industrielle à Camp Perrin.
“ Cette situation est dûe au fait que les paysans se sont devenus de moins en moins intéressés à l’agriculture. Faute de l’irrégularité des saisons de pluie en raison du déboisement effréné, de la dégradation environnementale et du manque de politique gouvernementale en faveur des paysans,” a poursuivi M. Sprimont.</br>
Par ailleurs, Sean Finigan, un Irlandais travaillant dans l’agriculture et la protection environnementale de la région dépuis 1985, a rejoint le directeur de l’Atelier- Ecole pour dire que la baisse de la production locale est le principal facteur qui a engendré le déboisement; la dégradation de l’environnement et la mauvaise situation sociale enrégistrée à  Camp Perrin.
Selon M. Finigan, les problèmes ont commencé quand les paysans ne pouvaient plus trouver de solution aux problèmes économiques dans la pratique agricole. Ils ont décidé de pratiquer la coupe d’arbres pour la fabrication du charbon de bois pour pourvoir survivre.
“Les principaux bénéficiaires de ces activités sont: les propriétaires de boulangerie, de blanchisserie et d’autres utilisateurs du bois dans les villes comme les constructeurs de maison, les ébénistes, etc,” a fait savoir Sean Finigan.
Dans ces circonstances particulièrement difficiles, de  nombreuse ONG et des groupements de paysans ont émergé à Cam-Perrin telles que: l’Organisation pour la réhabilitation de l’environnement (ORE), établie dans la région dépuis 1985; la Fondation Panaméricaine pour le Développement (PADF), ont tendu leurs mains à la population afin de rechercher ensemble la route qui mène au développement durable.  
Ces ONG apportent une aide technique et financière importante aux paysans afin de faciliter leur lutte pour l’augmentation de la production, le réboisement et la protection de l’environnement.</br>
L’Organisation des planteurs de “Mayou, Gayita et Twarak”(OPMAGAT) dont le siège central se trouve dans la 2e section communale regroupant trois localités est l’une des plus importances organisations paysannes à Camp Perrin et associe la question du réboisement à la résolution des problèmes économiques de la population.
Cette organisation forte de près 5,000 membres,  fonctionne à l’aide des apports financiers de la PADF et de l’Ambassade du Japon à Port-au-Prince. Elle a implanté, dépuis environ deux ans, une usine de transformation du manioc dans la communauté.
Ce programme vise principalement  l’amélioration des conditions de vie des paysans et la croissance de la production du manioc en même temps que le réboisement des mornes. Les dirigeants de l’OPMAGAT n’ont pas caché leur satisfaction devant les rétombées positives du programme. Ils estiment que ce programme leur a permis de changer la situation économique des paysans, sans oublier que bon nombre de moins jeunes,  jeunes et adultes ont pu trouver de l’emploi tandis  que les arbres peuvent à nouveau pousser et grandir en toute quiétude.
Plusieurs paysans de la région nous ont donné leur témoignage: “ Deux ans à peine, les activités de l’OPMAGAT ont débuté, et notre situation a beaucoup changé. La communauté est sur le point de retrouver sa verdure et la valeur de la production du manioc augmente considérablement”.
Ploma Banat, trésorier de l’organisation des planteurs, a fait savoir que les activités de l’association apportent trois grands résultats dans la communauté: l’amélioration significative des conditions économiques des familles; 230 mille arbres ont été épargnés de la coupe dans les mornes, dans l’espace d’une année; et de plus,  le réboisement continue grâce à l’établissement d’un programme de pépinière pouvant développer divers types d’arbres.
C’est aussi dans cette même direction que s’avancent les activités de l’ORE.  Selon Mousson Finigan, la principale responsable de cette ONG: “Toute campagne sérieuse de réboisement doit être accompagnée d’activités ayant une importance économique pour les paysans. Sinon, on risque de mener des vaines actions.”
C’est pourquoi, l’ORE accorde la priorité aux arbres à valeur hautement économique pour réboiser la communauté. Ce sont des arbres fruitiers comme le manguier, l’avocatier et l’oranger. Les paysans développement une relation particulière avec ces arbres qui leur permettent de faire des rentrées d’argent.
À côté du système de pépinière, ORE établit aussi un programme de greffage d’arbres fruitiers à travers toute la région de Camp Perrin.</br>
Arrivant à camp Perrin pour la première fois, on pourra être étonné de constater l’importante couverture forestière de la communauté. Les plaines sont presque recouvertes d’arbres totalement. Même les montagnes en donnent aussi cette impression. Tous ces résultats sont les fruits de tant d’efforts déployés conjointement par les ONGs et les paysans au cours de ces dernières années.

</font></p></center>
	</div>
	
	<div id="footer">
	<p><font size="2px">Page réalisée par: Morisseau Valery Ray.</font></p>
	</div>
	
	</div>
	</body>



</div>


















</html>