﻿<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	      <title>Abre a pin</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/abreapin.jpg" %}" width="345px" height="321px"></center>
	
	<p><center><font color="green">L'arbre à pain est originaire d'Océanie, où la plus grande diversité morphologique est présente.</br>
	Il y a été domestiqué, et fournit une source de glucides importante depuis des millénaires.En Haiti principalement dans le sud</br>
	on cultive l'arbre à pain pour fruit considéré comme une source d'énergie.</font></center></p>
	
	</body>










</html>