﻿<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
	      <meta charset="utf-8" />
	      
		  
		  <!--link rel="stylesheet" href="CP.css" /-->
	      <link rel="stylesheet" href="{% static "css/CP.css" %}" />
		  
		  <title>bananier</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/bananier.jpg" %}" width="400px" height="585px"></center>
	
	<p><center><font color="green">Les bananiers forment le genre Musa. Ce sont des plantes monocotylédones vivaces de la famille des Musaceae dont les fruits,</br>
	en général, sont les bananes.Le bananier, contrairement aux idées reçues, n'est pas un arbre mais une plante herbacée. Ce n’est pas un arbre</br>
	car il n'est pas lignifié, bien que ce ne soit pas le critère le plus caractéristique puisque les bambous sont lignifiés et ne sont pas non plus</br>
	des arbres. Il est d'usage de dire un peu abusivement que c'est « la plus grande herbe du monde ».Ce genre comprend environ soixante espèces,</br> 
	toutes tropicales, dont plusieurs sont largement cultivées pour la production de bananes. Certaines espèces ont un intérêt ornemental</br> 
	et sont cultivées en serres dans les pays tempérés.D'ailleurs on en fait la culture à camp-perrin</font></center></p>
	
	</body>


































</html>