﻿<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
	      <meta charset="utf-8" />
	      
		  <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	      
		  <title>Bar</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/barCP.jpg" %}" width="345px" height="321px"></center>
	
	<p><center><font color="green">Cadre luxieux et agreable</font></center></p>
	
	</body>










</html>