﻿<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
	      <meta charset="utf-8" />

	      <!--link rel="stylesheet" href="CP.css" /--> 
	     <link rel="stylesheet" href="{% static "css/CP.css" %}" />
		 <title>Site tourisque</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/belle.jpg" %}" width="737px" height="552px"></center>
	
	<p><center><font color="green">Cette photo prouve encore une fois qu'Haïti reste et demeure un très beau pays, où il fait beau vivre!</font></center></p>
	
	</body>










</html>