﻿
<!DOCTYPE html>
{% load staticfiles %}
<html>
     <head>
	 <meta charset="utf-8" />
	 
	<!--<link rel="stylesheet" href="CP.css" />*-->
	
	<link rel="stylesheet" href="{% static "css/CP.css" %}" />
	
	 <title>Camp-Perrin</title>
	 </head>
<div id="conteneur">

<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	
	
	 <div id="menu">
	 <ul>
	     <li><a href="/tour" class="cellules"><font size="5px">Acceuil</font></a></li>
		 <li><a href="/tour/fruits" class="cellules" ><font size="5px">Galerie</font></a></li>
		 <li><a href="/tour/gallerie" class="cellules"><font size="5px">Hotellerie</font></a></li>
		 <li><a href="/tour/sitestouristiques" class="cellules"><font size="5px">Sites touristiques</font></a></li>
		 <li><a href="/tour/activites" class="cellules"><font size="5px">Activités</font></a></li>
	 </ul>
	 </div>
     
	 
	 
	 
	     <div class="flash">
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="1000" height="200" id="tech" align="middle" >
        <param name="movie" value="projethtml.swf" />
        <param name="quality" value="high" />
        <param name="allowFullScreen" value="true" />
        <param name="wmode" value="transparent" />
        <param name="allowScriptAccess" value="always" />
        <param name="_flashcreator" value="http://www.photo-flash-maker.com" />
        <param name="_flashhost" value="http://www.go2album.com" />
        <embed src="{% static "image/projethtml.swf " %}"  width="960" height="200" quality="high" allowFullScreen="true" wmode="transparent" allowScriptAccess="always" name="tech" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
      </object>
    </div>

	 
	 
	 <div id="contenu">
    <div id="presentation">
	<p><a href="fichetechnique.html"><h2>Decouvrez Camp-Perrin</a></h2>
  Camp-Perrin a été créé au XVIIIe siècle lorsque arrivèrent de France les trois frères Perrin. Leur but était d'étudier les possibilités</br>
  de culture du café, du coton et de l'indigo, ainsi que l'exploitation du bois de teinture comme le campêche en Haïti.<br>
  Après avoir prospecté la partie Sud (partie française), l'un d'entre eux s'établit à Jacmel et les deux autres dans la plaine des Cayes.</br> 
  De ces deux derniers, Champlois et Saint-Aubin, on connaît surtout le dernier qui va créer une habitation à Haut-Camp. Officier d'infanterie,</br>
  Saint-Aubin créa de grandes plantations et obtint l'exclusivité du commerce des produits cités plus haut, Pour répondre à la demande de la métropole,</br>
  il encouragea ses concitoyens à s'établir alentour, parmi lesquels Lamartinière, Davezac de Castera et Moreau de Saint-Mëry. Pour protéger son domaine,</br>
  Saint-Aubin construisit un camp militaire qui prendra le nom de Camp-Perrin, nom qu'il a gardé jusqu'à nos jours. L'ancien camp militaire se trouvait</br>
  sur l'emplacement actuel de l'église Sainte-Anne. Saint-Aubin était un colon humaniste sur les terres duquel les esclaves se réfugiaient pour échapper</br>
  à des colons cruels. II quitta Haïti pour ne pas avoir à se battre contre ceux qui l'ont servi. Jusqu'en 1931, Camp-Perrin était un quartier des Cayes.</br> 

  Le président Sténio Vincent, lors d'une tournée dans le Sud, l'érigea au rang de commune. À Camp-Perrin, vous visiterez avec intérêt le canal Davezac.</br>
  Autour de l'hôtel La Distribution et bien plus haut vers le pic Macaya. II a été achevé le 17 mai 1765 et il reste le principal mode d'irrigation des</br>
  cultures dans la région.</br>
  Vous compléterez votre journée à Camp-Perrin par la visite de la grotte de Connubois. C'est une splendeur. En 1 heure 30 min, vous pourrez visiter,</br>
  si vous êtes en bonne condition physique, les quatre salles les plus faciles à parcourir. Quarante-neuf salles ont été répertoriées qui s'étalent sur 9 km.</br>
  Vous devrez vous munir de chaussures à crampons et d'un casque équipé d'une lampe-torche de grande puissance en raison de l'obscurité.</br> 
<h3>Démographie</h3>
La commune est peuple de 40.962 habitants(2009),d'oú une densité dee 306,2 hab/km².
<h3>La division territoriale de la commune</h3>
  <ul>
      <li>Levy-Mersan</li>
	  <li>Champlois-Marceline</li>
	  <li>Tibi-Davezac</li>
  </ul>
<h3>Economie</h3>
La population vit du commerce du cacao, des feuilles de tilleuls, des bananes, et de la canne à sucre.</br>
La transformation industrielle du café est effectuée sur place.L'élevage est également développé.</br>
De l'éléctricité vingt quatre heures par jour,c'est Camp-perrin,petite ville très accorte à une heure en voiture des cayes.</br>
La ville est alimentée par la centrale hydro-éléctrique de saut-mathurine,dans les montagnes boisées dominant la region.</p>

<a href="http://www.lereculhotel.ht/index.php/fr/gallerie-photos"><img src="{% static "image/lerecul1.jpg" %}" align="left"  width="367px" height="297px"></a><img src="{% static "image/maison1.jpg" %}" align="right" width="367px" height="297px">

	</div>
	<div id="droite"></div>	
	
	<div id="pied">
	<center><font size="30px">Venez admirer la nature!</font></center>
	</div>

	
	<div id="footer">
	<p><font size="2px">Page réalisée par:  Morisseau Valery Ray.</font></p>
	</div>


</div>











</body>

</div>



</html>