﻿<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	      <title>cocotier</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/noixcoco.jpe" %}" width="345px" height="321px"></center>
	
	<p><center><font color="green">Le Cocotier (Cocos nucifera) est une espèce de palmiers de la tribu des Cocoeae, décrite par Carl Linné.</br>
	Il s'agit de la seule espèce du genre Cocos. Son fruit est la noix de coco. Ce palmier est présent dans toute la zone intertropicale humide.</br>
	Surtout cultivé le long des côtes, il n'y reste pas confiné. En Inde, il est planté jusqu'à mille mètres d'altitude. La longévité de la plante</br>
	dépasse un siècle. Sa durée de vie économique est estimée entre 50 ans et 80 ans, mais certains cocotiers bien plus âgés sont encore couverts de fruits.</br>
	Le cocotier est l'un des arbres qu'on trouve fequemment dans la ville de la beauté,camp-perrin.</font></center></p>
	
	</body>










</html>