﻿<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	      <title>eglise</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/egliseCP.jpg" %}" width="450px" height="345px"></center>
	
	<p><center><font color="green">L'eglise Ste Anne de Camp-perrrin</font></center></p>
	
	</body>


































</html>