{% load staticfiles %}
<html>
<!--link rel="stylesheet" href="entete.css" /-->
<link rel="stylesheet" href="{% static "css/entete.css" %}" />


<div id="conteneur">
<div id="header">
<p>Bienvenue a notre site</p>
</div>

<body>
 <div id="contenu">
    <div id="section">
    
	<p>C'est la partie section</p>
	
	</div> 
 
 
 
 
 
 
 </div>


</body>

</div>


























</html>