﻿<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
<meta charset="utf-8"/>

<!--link rel="stylesheet" href="CP.css" /-->
<link rel="stylesheet" href="{% static "css/CP.css" %}" />

<title>Fiche technique</title>
</head>
<div id="conteneur">

<body>
        <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
		
		<div id="menu">
	 <ul>
	     <li><a href="/tour" class="cellules"><font size="5px">Acceuil</font></a></li>
		 <li><a href="/tour/fruits" class="cellules"><font size="5px">Galerie</font></a></li>
		 <li><a href="/tour/gallerie" class="cellules"><font size="5px">Hotelleries</font></a></li>
		 <li><a href="/tour/sitestouristiques" class="cellules"><font size="5px">Sites touristiques</font></a></li>
		 <li><a href="/tour/activites" class="cellules"><font size="5px">Activités</font></a></li>
	 </ul>
	 </div>
	   
	   
	   
	   
	   
	   
	   
	   <table border=2 width="960px">
       
	   <tr>
	       <td>CAMP-PERRIN</td>
	   </tr>
	   
	   <tr>
	       <td>ADMINISTRATION</td>
	   </tr>
	   
	   <tr>
	       <td>Pays:Haiti</br>Departement:Sud</br>Arrondissement:Les cayes</br>Maire:Mr Bertin Augustin</td>
	   </tr>
	   
	   <tr>
	      <td>GEOGRAPHIE</td>
	   </tr>
	   
	   <tr>
	       <td>Coordonnees:18̊19'01"Nord,73̊52'01"Ouest</br>Altitude:246m</br>Superficie:13.377ha=133,77km</td>	   
	   
	   </tr>
	   
	   <tr>
	       <td>DEMOGRAPHIE</td>
	   </tr>
	   
	   <tr>
	       <td>Population:40.962 hab</br>Densite:306,2 hab/km²</td>
	   
	   </tr>
	   
	   <tr>
	   <td>LOCALISATION</td>
	   </tr>
	   
	   <tr>
	   <td><img src="{% static "image/carteCP.jpg" %}" width="635px" height="532px"></td>
	   </tr>
	   
	   
	   
	 </table>






</body>

<div id="footer">
	<p><font size="2px">Page réalisée par: Morisseau Valery Ray.</font></p>
	</div>


</div>
















</html>