﻿<!DOCTYPE html>
{% load staticfiles %}
<html>
     <head>
	 <meta charset="utf-8" />
     
	 
	 <!--link rel="stylesheet" href="CP.css" /-->
	 <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	 
	 <title>Fruits</title>
	 </head>
	 
	 
<div id="conteneur">
	<body>
	
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	
	<div id="menu">
	 <ul>
	     <li><a href="/tour" class="cellules"><font size="5px">Acceuil</font></a></li>
		 <li><a href="/tour/fruits" class="cellules" ><font size="5px">Galerie</font></a></li>
		 <li><a href="/tour/gallerie" class="cellules"><font size="5px">Hotelleries</font></a></li>
		 <li><a href="/tour/sitestouristiques" class="cellules"><font size="5px">Sites touristiques</font></a></li>
		 <li><a href="/tour/activites" class="cellules"><font size="5px">Activités</font></a></li>
	 </ul>
	 </div>

	    <div class="flash">
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="1000" height="200" id="tech" align="middle" >
        <param name="movie" value="fruitslide.swf" />
        <param name="quality" value="high" />
        <param name="allowFullScreen" value="true" />
        <param name="wmode" value="transparent" />
        <param name="allowScriptAccess" value="always" />
        <param name="_flashcreator" value="http://www.photo-flash-maker.com" />
        <param name="_flashhost" value="http://www.go2album.com" />
        <embed src="{% static "image/fruitslide.swf" %}" width="960" height="200" quality="high" allowFullScreen="true" wmode="transparent" allowScriptAccess="always" name="tech" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
      </object>
    </div>

	
	<center><font size="5px">BIENVENUE A TOUS POUR VOUS FAIRE LE PLAISIR DE GOUTER A CES FRUITS</font></center>
	
	<div id="contenu">
	<div id="presentation">

	
	<h4>Les fruits de Camp-Perrin</h4>
	<table align="center" width="760px" height="312px">
	        <tr>
			    <td><a href="/tour/bananier"><img src="{% static "image/bananier.jpg" %}" width="197px" height="106px" border="2px"></a></td>
			    <td><a href="/tour/manguier"><img src="{% static "image/mangue.jpg" %}" width="197px" height="106px" border="2px"></a></td>
				<td><a href="/tour/mais"><img src="{% static "image/mais.jpg" %}" width="197px" height="106px" border="2px"></a></td>
			</tr>
			
			<tr>
			    <td><a href="/tour/cocotier"><img src="{% static "image/noixcoco.jpg" %}" width="197px" height="106px" border="2px"></a></td>
				<td><a href="/tour/arbrepin"><img src="{% static "image/abreapin.jpg" %}" width="197px" height="106px" border="2px"></a></td>
				<td><a href="/tour/panier"><img src="{% static "image/fruit.jpg" %}" width="197px" height="106px" border="2px"></a></td>
			
			</tr>
	
	</table>
	
          <h4>Photos divers</h4>
	<table align="center" width="760px" height="312px">
	        <tr>
			    <td><a href="/tour/place"><img src="{% static "image/legliz.jpg" %}" width="197px" height="106px" border="2px"></a></td>
			    <td><a href="/tour/eglise"><img src="{% static "image/egliseCP.jpg" %}" width="197px" height="106px" border="2px"></a></td>
				<td><a href="/tour/unecour"><img src="{% static "image/unecour.jpg" %}" width="197px" height="106px" border="2px"></a></td>
			</tr>
			
			<tr>
			    <td><a href="/tour/unecour"><img src="{% static "image/unecour2CP.jpg" %}" width="197px" height="106px" border="2px"></a></td>
				<td><a href="/tour/paysage"><img src="{% static "image/hopitalCP.jpg" %}" width="197px" height="106px" border="2px"></a></td>
				<td><a href="/tour/unerue"><img src="{% static "image/rueCP.jpg" %}" width="197px" height="106px" border="2px"></a></td>
			
			</tr>
	
	
			<tr>
			    <td><a href="/tour/val1"><img src="{% static "image/val1.jpg" %}" width="197px" height="106px" border="2px"></a></td>
				<td><a href="/tour/val2"><img src="{% static "image/val2.jpg" %}" width="197px" height="106px" border="2px"></a></td>
				<td><a href="/tour/val3"><img src="{% static "image/val3.jpg" %}" width="197px" height="106px" border="2px"></a></td>
			
			</tr>
	
	
	</table>

         		  
	</div>
	
	</div>
	
	<div id="footer">
	<p><font size="2px">Page réalisée par: Morisseau Valery Ray.</font></p>
	</div>
	
	</body>





</div>
















</html>