﻿<!DOCTYPE html>
{% load staticfiles %}
<html>
     <head>
	 <meta charset="utf-8" />
     
	 <!--link rel="stylesheet" href="CP.css" /-->
	 <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	 <title>Gallerie</title>
	 </head>
	 <div id="conteneur">
	<body>
<div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>	
	 <div id="menu">
	 <ul>
	     <li><a href="/tour" class="cellules"><font size="5px">Acceuil</font></a></li>
		 <li><a href="/tour/fruits" class="cellules" ><font size="5px">Galerie</font></a></li>
		 <li><a href="/tour/gallerie" class="cellules"><font size="5px">Hotelleries</font></a></li>
		 <li><a href="/tour/sitestouristiques" class="cellules"><font size="5px">Sites touristiques</font></a></li>
		 <li><a href="/tour/activites" class="cellules"><font size="5px">Activités</font></a></li>
	 </ul>
	 </div>

	<div class="flash">
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="1000" height="200" id="tech" align="middle" >
        <param name="movie" value="hotelhtml.swf" />
        <param name="quality" value="high" />
        <param name="allowFullScreen" value="true" />
        <param name="wmode" value="transparent" />
        <param name="allowScriptAccess" value="always" />
        <param name="_flashcreator" value="http://www.photo-flash-maker.com" />
        <param name="_flashhost" value="http://www.go2album.com" />
        <embed src="{% static "image/hotelhtml.swf" %}" width="960" height="200" quality="high" allowFullScreen="true" wmode="transparent" allowScriptAccess="always" name="tech" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
      </object>
    </div>

	 
	 
	
	<div id="presentation">
	<h4>Des abris surs pour vous loger</h4>
	<p><font color="green">Cher(s) client(s),</br>
    Nous sommes heureux de vous compter parmi nos prestigieux visiteurs et prenons plaisir à vous souhaiter la plus cordiale bienvenue à nos hôtels.</br>
	Nous vous remercions de nous avoir choisi et espérons pouvoir vous garantir un agréable séjour.</br>
    Pour toute assistance, n'hésitez pas à nous contacter ; notre personnel se fera le plaisir de vous aider avec la plus grande courtoisie et le plus grand respect.</br>
    Dans le souci de vous offrir un service de qualité, nous vous prions de nous aider à maintenir l'espace propre et de nous signaler le moindre élément</br>
	susceptible de nuire à votre tranquillité d'esprit.Merci de nous aider à mieux vous prendre en charge.</font></p>
	
	<table align="center" width="960px">
	        <tr>
			    <td><a href="/tour/lerecul"><img src="{% static "image/lerecul.jpg" %}" width="297px" height="206px" border="2px"></a></td>
			    <td><a href="http://www.lereculhotel.ht/index.php/fr/gallerie-photos"><img src="{% static "lerecul1.jpg" %}" width="297px" height="206px" border="2px"></a></td>
				<td><a href="/tour/bar"><img src="{% static "image/barCP.jpg" %}" width="297px" height="206px" border="2px"></a></td>
			</tr>
			
			<tr>
			    <td><a href="/tour/tibi"><img src="{% static "image/Hoteldetibi.jpg" %}" width="297px" height="206px" border="2px"></a></td>
				<td><a href="/tour/maison"><img src="{% static "image/maison.jpg" %}" width="297px" height="206px" border="2px"></a></td>
				<td><a href="/tour/maison1"><img src="{% static "image/unecour.jpg" %}" width="297px" height="206px" border="2px"></a></td>
			
			
			
			
			
			
			</tr>
	
	
	
	
	
	
	</table>
	<p><font color="green">Dans notre ville vous devez etre sans crainte pour ou vous poser la tete durant votre séjour,d'ailleurs il y a une panoplie</br>
      de grandes hôtels qui vous attend.</br>
      Hôtel Le recul</br>
      Hôtel de tibi</br>
      Maisons à louer pour juste votre séjour.</br></font></p> 	  
	
	</div>
	
	
	</body>
	
	<div id="footer">
	<p><font size="2px">Page réalisée par: Morisseau Valery Ray.</font></p>
	</div>
</div>





















</html>