﻿<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
		  
	      <title>Site touristique</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/grotte.jpg" %}" width="500px" height="321px"></center>
	
	<p><center><font color="green">La grotte de Counoubois située également aux environs de cette ville, découverte vers 1910 comporte 24 galeries et une cheminée.</br>
    On y accede par un sentier de montagne. D’autres grottes moins connuees existent également dans la zone. A quelques km de la ville,</br>
    la Source de la Rivière l’Acul prend sa source dans les hauteurs du Massif de la Hotte dans le parc Macaya. Il s’agit d’une vaste</br>
    caverne remplie d’eau d’où sort par un orifice de 1m50 environ de diamètre l’écoulement donnant naissance à la rivière.
    Une mission exploratoire est nécessaire pour une meilleur connaissance de ce site.</font></center></p>
	
	</body>










</html>