﻿<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	      <title>mais</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/mais.jpg" %}" width="550px" height="445px"></center>
	
	<p><center><font color="green">Cette espèce, originaire du Mexique, constituait l'aliment de base des Amérindiens avant l'arrivée</br>
	en Amérique de Christophe Colomb. La plante fut divinisée dans les anciennes civilisations d’Amérique centrale et méridionale et</br> 
	était connue chez les tribus d’Amérique du Nord comme l’une des trois sœurs. Introduite en Europe au xvie siècle, elle est aujourd’hui</br>
	cultivée mondialement et est devenue la première céréale mondiale devant le riz et le blé. Avec l’avènement des semences hybrides dans la </br>
	première moitié du xxe siècle, puis des semences transgéniques tout récemment, le maïs est le symbole de l’agriculture intensive.</br>
	Alors c'est vrai puisque la commune de camp-perrin est connue principalement pour son agriculture.</font></center></p>
	
	</body>


































</html>