﻿<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
		  
	      <title>manguier</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/mangue.jpg" %}" width="550px" height="445px"></center>
	
	<p><center><font color="green">Le manguier (Mangifera indica L.) est un arbre de la famille des Anacardiaceae, originaire d'Asie méridionale,</br>
	largement cultivé dans les pays tropicaux pour son fruit, la mangue.On le cultive pour son fruit, la mangue, qui à maturité a une pulpe molle </br>
	et juteuse de saveur sucrée.Dans les Mascareignes, le fruit vert entre dans une préparation épicée, le « rougail mangue ».</br>
    En Inde, et particulièrement au Bengale, il était traditionnel de fabriquer de la teinture jaune en nourrissant le bétail d'une petite quantité</br> 
	de feuilles de manguier, toxiques par ailleurs, puis en récoltant l'urine de ces animaux. Cette pratique a été abandonnée.</br>
    Le bois du manguier, dont la teinte se rapproche du noyer, est utilisé en ébénisterie.Ses feuilles sont connues, notamment au Sénégal,</br> 
	pour leurs propriétés antiseptiques.En Haiti on l'utilise notamment pour le jus de mangue,ou on mange le fruit simplement.</font></center></p>
	
	</body>


































</html>