﻿<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	      <title>Site touristique</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/sautCP.jpg" %}" width="500px" height="321px"></center>
	
	<p><center><font color="green">Une autre vue du merveilleux saut Mathurine</font></center></p>
	
	</body>










</html>