﻿<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	      <title>Site tourisque</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/SautMathurine(2).jpg" %}" width="500px" height="321px"></center>
	
	<p><center><font color="green">Saut mathurine est l'un des plus beaux spectacles naturels du pays.Il est toujours visité par des visiteurs de partout!</font></center></p>
	
	</body>










</html>