﻿<!DOCTYPE html>
{% load staticfiles %}

<html>
     <head>
	 <meta charset="utf-8" />
     
	 <!--link rel="stylesheet" href="CP.css" /-->
	 <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	  <script src="https://maps.googleapis.com/maps/api/js"></script>
	 <script> 
	 var longit, lat;
		 function showinfos(div){
			document.getElementById(div).style.display = "inline";
		 }
		 function hideinfos(div){
			document.getElementById(div).style.display = "none";
		 }
		 
		 function setLongLat(longi,lati){
			longit = longi;
			lat = lati;
			console.log(longit+'----'+lat);
			}
			
		 function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(lat, longit),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
     google.maps.event.addDomListener(window, 'load', initialize);
    
	</script>
	
	
	 <script> 
	 var longit, lat;
		 function showinfos(div){
			document.getElementById(div).style.display = "inline";
		 }
		 function hideinfos(div){
			document.getElementById(div).style.display = "none";
		 }
		 
		 function setLongLat(longi,lati){
			longit = longi;
			lat = lati;
			console.log(longit+'----'+lat);
			}
			
		 function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(lat, longit),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
     google.maps.event.addDomListener(window, 'load', initialize);
    
	</script>
	
	 <script> 
	 var longit, lat;
		 function showinfos(div){
			document.getElementById(div).style.display = "inline";
		 }
		 function hideinfos(div){
			document.getElementById(div).style.display = "none";
		 }
		 
		 function setLongLat(longi,lati){
			longit = longi;
			lat = lati;
			console.log(longit+'----'+lat);
			}
			
		 function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(lat, longit),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
     google.maps.event.addDomListener(window, 'load', initialize);
    
	</script>
	
	<style>
      #map-canvas {
        width: 200px;
        height: 120px;
		display:none; 
		margin-left:-250px;
		margin-top:50px;
		z-index:1000; 
		position:absolute;
      }
    </style>
	 
	 <title>Sites touristiques</title>
	 </head>
	<div id="conteneur"> 
	<body>
	<div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	 <div id="menu">
	 <ul>
	     <li><a href="/tour" class="cellules"><font size="5px">Acceuil</font></a></li>
		 <li><a href="/tour/fruits" class="cellules"><font size="5px">Galerie</font></a></li>
		 <li><a href="/tour/gallerie" class="cellules"><font size="5px">Hotelleries</font></a></li>
		 <li><a href="/tour/sitestouristiques" class="cellules"><font size="5px">Sites touristiques</font></a></li>
		 <li><a href="/tour/activites" class="cellules"><font size="5px">Activités</font></a></li>
	 </ul>
	 </div>

	 
	    <div class="flash">
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="1000" height="200" id="tech" align="middle" >
        <param name="movie" value="touriste.swf" />
        <param name="quality" value="high" />
        <param name="allowFullScreen" value="true" />
        <param name="wmode" value="transparent" />
        <param name="allowScriptAccess" value="always" />
        <param name="_flashcreator" value="http://www.photo-flash-maker.com" />
        <param name="_flashhost" value="http://www.go2album.com" />
        <embed src="{% static "image/touriste.swf" %}" width="960" height="200" quality="high" allowFullScreen="true" wmode="transparent" allowScriptAccess="always" name="tech" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
      </object>
    </div>

	
	<center><font size="5px">BIENVENUE A TOUS POUR VOUS FAIRE LE PLAISIR QU'OFFRENT CES BEAUX LIEUX</font></center>
	
	
	<div id="contenu">
	<div id="presentation">
	</br><center><p><font color="#369e77">Haïti est un pays des Grandes Antilles occupant le tiers occidental de l'île d'Haïti, bordé au nord par l'océan Atlantique, à l'est par la République dominicaine, au sud par la mer des Caraïbes et à l'ouest par le canal du Vent, qui sépare l'île de Cuba. 
    Le pays s'étend sur 27 750 km2. Sa capitale, Port-au-Prince, est située au fond du golfe de la Gonâve.</br>

	Regardez bien ces merveilles parcequ'elles suscitent de l'intéret chez les touristes du point de vue socio-culturelle</br>
	et patrimoniale,alors ces merveilles ne sauront etre mise en valeur si elles sont partagées par une communauté touristique</br>
	active.Donc lié a la quantité de touristes que recoit cette ville chaque année nous pouvons la placer comme l'un des berceaux</br>
	de la patrimoine touristique d'Haiti.Sur ceux nous vous invitons de vous faire l'ultime plaisir de visiter ce joyau de l'ile d'Haiti.</font></p></center>
	</br>
	</br>
	
	
	<table align="center" width="960px">
	        <tr>
			    <td><a href="/tour/sautMathurine"><img src="{% static "image/cpsaut.jpg" %}" width="297px" height="206px" border="2px" onmouseover="setLongLat('-72,295415','18.538117');showinfos('map-canvas');" onmouseout="hideinfos('map-canvas');"></a>
					<div id="map-canvas"></div>
				</td>
			    <td><a href="/tour/routesaut"><img src="{% static "image/entresaut.jpg" %}" width="297px" height="206px" border="2px" onmouseover="setLongLat('-73.849257','18.368998');showinfos('map-canvas');" onmouseout="hideinfos('map-canvas');"></a>
				    <div id="map-canvas"></div>
				</td>	
				<td><a href="/tour/saut"><img src="{% static "image/sautCP.jpg" %}" width="297px" height="206px" border="2px"></a></td>
			</tr>
			
			<tr>
			    <td><a href="/tour/grotte"><img src="{% static "image/grotte.jpg" %}" width="297px" height="206px" border="2px"  onmouseover="setLongLat('-73.870052','18.307255');showinfos('map-canvas');" onmouseout="hideinfos('map-canvas');"></a>
				    <div id="map-canvas"></div>
				</td>
				<td><a href="/tour/belle"><img src="{% static "image/belle.jpg" %}" width="297px" height="206px" border="2px"  onmouseover="setLongLat('-73.870052','18.307255');showinfos('map-canvas');" onmouseout="hideinfos('map-canvas');"></a>
				    <div id="map-canvas"></div>
				</td>
				<td><a href="/tour/visite"><img src="{% static "image/touristeCP.jpg" %}" width="297px" height="206px" border="2px"></a></td>
			
			</tr>
	
	</table>

	
	<p><center><font size="10" color="green">Plein d'endroits seduisants et attractifs</center></p>
	
	            <p><center><font size="0.10px" color ="green">
				
				<form method="get" action="/tour/sitestouristiques/" id="contactform">{% csrf_token %}
                        
                        {{ form.as_p }}
                       <input type = "submit" name="ContactForm" value="Send" class="contactbutton">
                  </form>
				</center></font></p>
				
				{% for a in enr %}
				
				<p><font size="5"><class="comments" style="font-size:1em;"/>{{a.name}} dit: {{a.message}}<br></p>
				
				{% endfor %}

	
	</div>
	
	<div id="footer">
	<p><font size="2px">Page réalisée par: Morisseau Valery Ray.</font></p>
	</div>
	
	</div>
	</body>



</div>


















</html>