﻿<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	      <title>Hotel de Tibi</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/Hoteldetibi.jpg" %}" width="345px" height="321px"></center>
	
	<p><center><font color="green">Vous vous rendez dans les autres sections communales encore la vous trouverez des hotels</br>Hotel de Tibi</font></center></p>
	
	</body>










</html>