<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
	      <meta charset="utf-8" />
	      <!--link rel="stylesheet" href="CP.css" /-->
		  <link rel="stylesheet" href="{% static "css/CP.css" %}" />
	      <title>Maison</title>
    </head>
	
	<body>
	 <div id="header">
	 <h1>Camp-Perrin</h1>
	 </div>
	
	<center><img src="{% static "image/val1.jpg" %}" width="550px" height="445px"></center>
	
	<p><center><font color="green">Pencadre de bienvenue</font></center></p>
	
	</body>


































</html>